.center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 240px;
  transform: translate(-50%, -50%);
}

.formReg {
  height: 35px;
  width: 35vh;

  font-size: large;
  font-weight: bold;
}

.space {
  margin-top: 2rem;
}

.submit {
  width: 15vh;
  margin-top: 5rem;
  margin-left: 10vh;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
