 .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: 240px; */
}


.formReg {
  height: 35px;
  width: 35vh;
  font-size: large;
  font-weight: bold;
}

.space {
  margin-top: 2rem;
}

.submit {
  width: 15vh;
  margin-top: 5rem; 
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

