* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gold;
}
/* create new form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.create label {
  text-align: left;
  display: block;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}