body {
    background-color: #222831;
}
.buttons {
    display: block;
    margin-top : 10px;
}
.coin {
    display : block;
    width : 100%;
}
.coinDescription {
    font-size : 1rem;
    width : 100%;
}
.coinHeader {
    font-size : 2rem;
    font-family : 'Montserrat', sans-serif;
}
.coinImage {
    height : 100px; 
    display: flex;
    margin-bottom: 20;
    margin-left: auto;
    margin-right: auto;
}
.checkbox {
    height: 20px;
    margin-left: 10px;
    width: 20px;
}
.chartWidget {
    display : inline-block;
    height : 600px;
    width : 100%;
}

.description {
    padding: 0 50px;
    display : inline-block;
    position : relative;
    right : 40px;
    width : 100%;
    z-index: 4;
}
.page {
    display: block;
    text-align: center;
}
.popUp{
    background-color: #3F72AF;
    border-radius:5px;
    position: absolute;
    height: 200px;
    padding:30px;
    top : 40%;
    left: 50%;
    width: 400px;

}
.stats {
    display: inline-block;
    margin-right : 5px;
}
.statFacts {
    display : inline-block;
    font-family : 'Montserrat', sans-serif;
}
.test {
    background-color : red;
}
.totalEquation {
    margin-top : 10px;
}
.tradeHeader {
    padding-bottom: 20px;
    font-size: 2rem;
    text-align : center;
}
.tradingBlock {
    display : block;
    height : 470px;
    position: relative;
    max-width: 1050px;
}
.transactionType{
    background-color : #30475E;
    width : 80%;
    
}
.typeOfBuy {
    color: green;
    margin-top : 10px;
    margin-bottom: 30px;
    text-align : center;
}
.transactionAmount {
    background-color : #30475E;
    width: 80%;
}
