*{
    z-index: 5;
}
img{
    height:225px;
    width:225px;
}
.bottom {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
.cardButton {
    background-color: #00AFC1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.card {
    display: inline-block;
    margin-right: 90px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 70, 0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .header {
    font-size: 5rem;
    text-align: center;
    padding-top: 200px;
  }
  .top{
      height:40vh;
  }
  video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: 0;
}